<!doctype html>

<!-- File origin: VS1LAB A1a -->

<html lang="en">
<head>
	<!-- Leaflet CSS and JavaScript (in this order) -->
	<link
			rel="stylesheet"
			href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
			integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
			crossorigin=""
	/>
	<script
			src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
			integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
			crossorigin=""
	></script>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>GeoTagApp</title>
	<link rel="stylesheet" href="./stylesheets/style.css" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
<header class="header">
	<img
			src="./images/location.png"
			class="header__image"
			alt="an image of a map and location"
	/>
	<h1 class="header__title">GeoTagApp</h1>
	<nav class="header__navigation">
		<a href="#">About</a> | <a href="#">Help</a> | <a href="/">Home</a>
	</nav>
</header>

<main class="main row">
	<section class="main__tagging tagging col-4">
		<h2>Tagging</h2>

		<!-- ############### VS1Lab 1a Form 1 Start -->
		<form id="tag-form" action="/tagging" method="post">
			<fieldset>
				<legend>Add a new GeoTag</legend>

				<label for="name">Name:</label>
				<input type="text" id="name" name="name" maxlength="10" required />

						<label for="tagLatitude">Latitude:</label>
						<input
							type="number"
							id="tagLatitude"
							name="latitude"
							step="any"
							value="<%= latitude %>"
						/>

						<label for="tagLongitude">Longitude:</label>
						<input
							type="number"
							id="tagLongitude"
							name="longitude"
							step="any"
							value="<%= longitude %>"
						/>

				<label for="tagHashtag">Hashtag:</label>
				<input
						type="text"
						id="tagHashtag"
						name="hashtag"
						maxlength="11"
						pattern="#[A-Za-z]{0,10}"
				/>

				<button type="submit">Add Tag</button>
			</fieldset>
		</form>
		<!-- ############### VS1Lab 1a Form 1 End -->
	</section>

	<section class="main__discovery discovery col-8">
		<h2 class="discovery__title">Discovery</h2>

		<!-- ############### VS1Lab 1a Form 2 Start -->
		<form
				class="discovery__search"
				id="discoveryFilterForm"
				action="/discovery"
				method="post"
		>
			<!-- ... your code here ... -->

			<fieldset>
				<legend>Search</legend>

						<label for="discoverySearchterm">Search term or keywords</label>
						<input
							type="text"
							id="discoverySearchterm"
							name="searchterm"
							placeholder="z.B. Castle"
						/>
						<!--  Absichtlich kein label und Platzhalter, da hidden input -->
						<input
							type="hidden"
							id="discoveryLatitude"
							name="latitude"
							value="<%= latitude %>"
						/>
						<!--  Absichtlich kein label und platzhalter, da hidden input -->
						<input
							type="hidden"
							id="discoveryLongitude"
							name="longitude"
							value="<%= longitude %>"
						/>

				<button type="submit">Search</button>
			</fieldset>
		</form>
		<!-- ############### VS1Lab 1a Form 2 End -->

		<div class="discovery__wrapper row">
			<div class="discovery__taglist col-4">
				<ul class="discovery__results" id="discoveryResults">
					<% if (taglist !== undefined) taglist.forEach(function(gtag) { %>
						<li><%= gtag.name %> ( <%= gtag.latitude %>,<%= gtag.longitude %>) <%= gtag.hashtag %> </li>
					<% }); %>
				</ul>
			</div>

			<div id="map" class="discovery__map col-8" data-tags="">
				<img
						src="./images/mapview.jpg"
						alt="a map with locations"
						id="mapView"
				/>
				<span>Result map</span>
			</div>
		</div>
	</section>
</main>

<footer class="footer">
	<span>(c) 2021/22 HKA_IWI_VSYS</span>
</footer>
<!-- Load JavaScripts
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="../public/javascripts/location-helper.js"></script>
<script src="../public/javascripts/map-manager.js"></script>
<script src="../public/javascripts/geotagging.js"></script>

</body>
</html>
